@{
    ViewBag.Title = "About Me";
    ViewBag.Message = "All about me...";
}

<div class="container content">
    <p>
        Hi, my name is Mark Pollard and I am a Microsoft Technologies Architect with most experiences in the Financial markets. I work for a Leeds base software consultancy <a href="http://www.bjss.com/" target="_blank"> (BJSS)</a> although the content and opinions of this site are my own. I graduated with a bachelor’s degree with honours in computer science from the Leeds Meropolitan University. I live in Bradford with my fiancee and two children.
    </p>
    <p>
        I put this site together originally as a reference for myself but I hope others find it useful.
    </p>
    <p>
        If you would like to email me my email is mark.pollard@bjss.co.uk
    </p>
</div><!--/container-->
