@{
    ViewBag.Title = "About Me";
    ViewBag.Message = "All about me...";
}

<!-- Figure -->
<section class="container g-pt-100 g-pb-40">
    <figure class="row">
        <!-- Figure Image -->
        <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 g-mb-30">
            <img class="w-100" src="~/img/about/me.jpg" alt="Image Description">
        </div>
        <!-- End Figure Image -->
        <!-- Figure Body -->
        <div class="col-lg-8">
            <div class="d-flex justify-content-between g-mb-10">
                <div class="g-mb-20">
                    <h4 class="h5 g-mb-5">Mark Pollard</h4>
                    <em class="d-block g-font-style-normal g-font-size-default text-uppercase g-color-primary">Technical Architect / Delivery Manager</em>
                </div>

                <!-- Figure Social Icons -->
                <ul class="list-inline">
                    <li class="list-inline-item g-mx-2">
                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="https://www.facebook.com/m4rkpollard">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-facebook"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item g-mx-2">
                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="https://twitter.com/m4rk5">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-twitter"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item g-mx-2">
                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="https://www.linkedin.com/in/mark-pollard-351aa163">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-linkedin"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
                <!-- End Figure Social Icons -->
            </div>

            <!-- Figure Info -->
            <div class="g-mb-50">
                <p>I am a Microsoft Technologies Architect and delivery manager with experiences working with many global corporations predominantly in the the financial markets. For the past 15 years I have worked for a software consultancy <a href="http://www.bjss.com/" target="_blank"> (BJSS)</a> although the content and opinions of this site are my own. I graduated with a bachelor’s degree with honours in computer science from the Leeds Metropolitan University. I live in Bradford with my wife and three children.</p>
                <p>I put this site together originally as a reference for myself but I hope others find it useful.</p>
            </div>
            <!-- End Info -->

            <div class="row">
                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">C# - 95%</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">.Net - 95%</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>

                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">Ansible - 75%</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">Docker - 65%</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>
            </div>
        </div>
        <!-- End Figure Body -->
    </figure>
</section>
<!-- End Figure -->
