@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Get in touch...";
}

<address>
    29 Enfield Walk<br />
    Bradford<br />
    West Yorkshire<br />
    United Kingdom<br />
    BD6 3HY<br /><br />
    <abbr title="Phone">P:</abbr>
    +44007912359944
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:mark.pollard@bjss.com">mark.pollard@bjss.com</a><br />
</address>