<address class="md-margin-bottom-40">
    29 Enfield Walk<br />
    Bradford<br />
    West Yorkshire<br />
    United Kingdom<br />
    BD6 3HY<br /><br />
    <abbr title="Phone">Phone:</abbr>+44007912359944
</address>

<address>
    <strong>Email:</strong> <a href="mailto:mark.pollard@bjss.com">mark.pollard@bjss.com</a><br />
</address>