@{
    ViewBag.Title = "CODE - BUILD - DEPLOY";
    ViewBag.Message = "Information source for software engineers and enthusiasts alike.\r\n";
}

<div class="container content">
    <div class="row margin-bottom-30">
        <div class="col-md-4">
            <div class="funny-boxes funny-boxes-top-yellow">
                <h2>PowerShell Remoting</h2>
                <p>
                    This section talks about how to enable and work with PowerShell remoting.
                </p>
                <p><a class="btn btn-default" href="~/Blog/ViewBlogEntry?urlSlug=PowerShellRemoting">View PowerShell Remoting &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="funny-boxes funny-boxes-top-sea">
                <h2>Powershell Grep</h2>
                <p>
                    This section talks about how to create a simple pgrep function equivilant to grep in Linux.
                </p>
                <p><a class="btn btn-default" href="~/Blog/ViewBlogEntry?urlSlug=PowerShellGrep">View PowerShell Grep &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="funny-boxes funny-boxes-top-yellow">
                <h2>Tool</h2>
                <p>
                    This section lists the tools I freaqiuently use. Some are development tools
                    others utility tools making general day to day working easier.
                </p>
                <p><a class="btn btn-default" href="~/Blog/ViewBlogEntry?urlSlug=tools">View Tools &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="funny-boxes funny-boxes-top-sea">
                <h2>Libraries</h2>
                <p>
                    This section lists libraries I often use. These range from logging frameworks to
                    testing tools used for testing / mocking etc.
                </p>
                <p><a class="btn btn-default" href="~/Blog/ViewBlogEntry?urlSlug=libraries">View Libraries &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="funny-boxes funny-boxes-colored funny-boxes-top-yellow">
                <h2>Links to External Articles / Resources</h2>
                <p>
                    This section contains links to many resources / articles
                </p>
                <p><a class="btn btn-default" href="~/Blog/ViewBlogEntry?urlSlug=links">View Links &raquo;</a></p>
            </div>
        </div>
    </div>
</div><!--/container-->
