@{
    ViewBag.Title = "Mark Pollards Web";
    ViewBag.Message = "Need some welcome text about mark pollard web here.";
}

<div class="row">
    <div class="col-md-4">
        <h2>Powershell Remoting</h2>
        <p>
            This section talks about how to enable and work with powershell remoting.
        </p>
        <p><a class="btn btn-default" href="~/Blog/PowerShellRemoting">View Powershell Remoting &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tool</h2>
        <p>
            This section lists the tools I freaqiuently use. Some are development tools 
            others utility tools making general day to day working easier.  
        </p>
        <p><a class="btn btn-default" href="~/Home/Tools">View Tools &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Libraries</h2>
        <p>
            This section lists libraries I often use. These range from logging frameworks to
            testing tools used for testing / mocking etc.
        </p>
        <p><a class="btn btn-default" href="~/Home/Libraries">View Libraries &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Links to External Articles / Resources</h2>
        <p>
            This section contains links to many resources / articles
        </p>
        <p><a class="btn btn-default" href="~/Home/Links">View Links &raquo;</a></p>
    </div>
</div>