@{
    ViewBag.Title = "Libraries";
    ViewBag.Message = @"This section lists libraries I often use. These range from logging frameworks to
                        testing tools used for testing / mocking etc.";
}

<p>
    <ul>
        <li>Nlog</li>
        <li>Common.Logging Facade</li>
        <li>NUnit</li>
        <li>Rx</li>
    </ul>
</p>