@{
    ViewBag.Title = "Links";
    ViewBag.Message = "Links to External Articles / Resources.";
}

<p>
    
</p>
<p>
    <ul>
        <li><a href="http://martinfowler.com/">Martin Fowler</a></li>
        <li><a href="http://www.hanselman.com/">Scott Hanselman</a></li>
    </ul>
</p>