@{
    ViewBag.Title = "Links";
}
<h2>@ViewBag.Title.</h2>

<p>
    Links to External Articles / Resources
</p>
<p>
    <ul>
        <li><a href="http://martinfowler.com/">Martin Fowler</a></li>
        <li><a href="http://www.hanselman.com/">Scott Hanselman</a></li>
    </ul>
</p>