@{
    ViewBag.Title = "Tools";
}
<h2>@ViewBag.Title.</h2>

<p>
    This section lists the tools I freaqiuently use. Some are development tools
    others utility tools making general day to day working easier.
</p>
<p>
    <ul>
        <li>Flux</li>
        <li>7Zip</li>
        <li>Process Explorer</li>
        <li>Git</li>
        <li>Tortoise Git</li>
        <li>Notepad ++</li>
        <li>Visual Studio</li>
    </ul>
</p>


