<!-- Breadcrumbs -->
<div class="bg-light">
    <div class="container pt-4 pb-2 text-end">
        <span class="h3">@ViewData["Title"]</span>

        @if (ViewContext.RouteData.Values.ContainsKey("page")
        && ViewContext.RouteData.Values["page"]?.ToString() is { } pageRouteValueOld)
        {
            var pageRoutes = pageRouteValueOld.Split('/');
            <ul class="mt-2">
                @if (pageRoutes != null && pageRoutes.Length > 0)
                {
                    var first = true;
                    for (var i = 0; i < pageRoutes.Length; i++)
                    {
                        var pageRoute = pageRoutes[i];
                        if (string.IsNullOrEmpty(pageRoute)) continue;
                        if (pageRoute == "Index") pageRoute = "Home";
                        if (pageRoute == "ViewBlogEntry") pageRoute = Model.Post.UrlSlug;

                        if (first && i != pageRoutes.Length - 1)
                        {
                            <li class="list-inline-item">
                                <a asp-area="" asp-page="/Index">@pageRoute</a>
                                <i class="text-black-50">/</i>
                            </li>
                        }
                        else
                        {
                            <li class="list-inline-item text-black-50">
                                <span>@pageRoute</span>
                            </li>
                        }
                    }
                }
            </ul>
        }
    </div>
</div>
<!-- End Breadcrumbs -->