<div class="row bg-no-repeat font-size-12 mb-0" style="background-image: url(/img/maps/map2.png);">

    <!-- Location -->
    <div class="d-flex mb-2">
        <div class="g-mr-10">
            <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="mt-1 mr-3 bi bi-pin-map"></i>
            </span>
        </div>
        <p class="mb-0">Bradford, <br />West Yorkshire, <br />United Kingdom</p>
    </div>
    <!-- End Location -->

    <!-- Phone -->
    <div class="d-flex mb-2">
        <div class="g-mr-10">
            <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="mt-1 mr-3 bi bi-phone"></i>
            </span>
        </div>
        <p class="mb-0">(+44)7912359944</p>
    </div>
    <!-- End Phone -->

    <!-- Email and Website -->
    <div class="d-flex mb-2">
        <div class="g-mr-10">
            <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="d-flex mt-1 mr-3 bi bi-at"></i>
            </span>
        </div>
        <p class="mb-0">
            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:mark.pollard@bjss.co.uk">mark.pollard@bjss.co.uk</a>
        </p>
    </div>
    <!-- End Email and Website -->
</div>