<div class="row align-items-md-center py-6">
    <div class="col-md mb-3 mb-md-0">
        <!-- List -->
        <ul class="list-inline list-px-2 mb-0">
            <li class="list-inline-item"><a class="link link-light link-light-75" asp-area="" asp-page="/Home/Privacy">Privacy and Policy</a></li>
            <li class="list-inline-item"><a class="link link-light link-light-75" asp-area="" asp-page="/Home/Terms">Terms</a></li>
        </ul>
        <!-- End List -->
    </div>
    <!-- End Col -->

    <div class="col-md-auto">
        <p class="fs-5 text-white-70 mb-0">&copy; CodeBuildDeploy @DateTime.Now.Year</p>
    </div>
    <!-- End Col -->
</div>