<div class="border-bottom border-white-10">
    <div class="row py-6">

        <!-- Footer Content - About -->
        <div class="col-6 col-sm-4 col-lg mb-7 mb-sm-0">
            <span class="text-cap text-white">About</span>
            <p class="text-white-70">
                CodeBuildDeploy is a software engineering information source on how we like to deliver software, inspired by continuous delivery approaches and DevOps cultures.
            </p>
            <!-- End About -->
        </div>
        <!-- End Footer Content - About -->

        <!-- Footer Content - Newsletter -->
        <div class="col-6 col-sm-4 col-lg mb-7 mb-sm-0">
            <span class="text-cap text-white">Monthly News Letter</span>
            <p class="text-white-70">
                Subscribe to our newsletter and stay up to date with the latest news from CodeBuildDeploy!
            </p>
            <form>
                <input type="text" class="form-control" placeholder="Email Address">&nbsp;
                <span>
                    <button class="btn btn-sm u-btn-white text-uppercase" type="button">Subscribe</button>
                </span>
            </form>
        </div>
        <!-- End Footer Content - Newsletter -->

        <!-- Recent Blogs -->
        <div class="col-6 col-sm-4 col-lg mb-7 mb-sm-0">
            <span class="text-cap text-white">Recent Blog Entries</span>

            <!-- List -->
            <ul class="list-unstyled list-py-1 mb-0">
                <li>
                    <a class="link link-light link-light-75" asp-area="" asp-page="/Blog/ViewBlogEntry" asp-route-urlSlug="devops-cli-azenvs">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <i class="bi-arrow-right-square-fill"></i>
                            </div>

                            <div class="flex-grow-1 ms-2">
                                <span>Azure Envs CLI container for DevOps teams</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="link link-light link-light-75" asp-area="" asp-page="/Blog/ViewBlogEntry" asp-route-urlSlug="MyShell">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <i class="bi-arrow-right-square-fill"></i>
                            </div>

                            <div class="flex-grow-1 ms-2">
                                <span>Having fun customizing my PowerShell terminal</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="link link-light link-light-75" asp-area="" asp-page="/Blog/ViewBlogEntry" asp-route-urlSlug="TrunkBasedDev">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <i class="bi-arrow-right-square-fill"></i>
                            </div>

                            <div class="flex-grow-1 ms-2">
                                <span>Trunk Based Development</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="link link-light link-light-75" asp-area="" asp-page="/Blog/ViewBlogEntry" asp-route-urlSlug="WSLInterop">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <i class="bi-arrow-right-square-fill"></i>
                            </div>

                            <div class="flex-grow-1 ms-2">
                                <span>Linux commands on Windows</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- End List -->
        </div>
        <!-- End Recent Blogs -->

        <!-- Follow Us -->
        <div class="col-6 col-sm-4 col-lg">
            <span class="text-cap text-white">Follow us</span>

            <!-- List -->
            <ul class="list-unstyled list-py-2 mb-0">

                <li>
                    <a class="link link-light link-light-75" href="https://github.com/orgs/CodeBuildDeploy-com">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <i class="bi-github"></i>
                            </div>

                            <div class="flex-grow-1 ms-2">
                                <span>GitHub</span>
                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <a class="link link-light link-light-75" href="https://dev.azure.com/markpollard/CodeBuildDeploy">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <i class="bi-microsoft"></i>
                            </div>

                            <div class="flex-grow-1 ms-2">
                                <span>Azure DevOps</span>
                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <a class="link link-light link-light-75" href="https://www.linkedin.com/in/mark-pollard-351aa163">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <i class="bi-linkedin"></i>
                            </div>

                            <div class="flex-grow-1 ms-2">
                                <span>Linkedin</span>
                            </div>
                        </div>
                    </a>
                </li>

            </ul>
            <!-- End List -->
        </div>
        <!-- End Follow Us -->
    </div>
</div>