@using System.Web
@using Microsoft.AspNetCore.Identity

@if (User.Identity!.IsAuthenticated)
{
    <!-- Log off -->
    <li class="nav-item ms-lg-auto">
        <form id="logoutForm" asp-antiforgery="true" action="/Identity/Account/Logout?returnUrl=@HttpUtility.UrlEncode("/Home/Index")" method="post">
            <a class="btn btn-ghost-dark me-2 me-lg-0" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </form>
    </li>
    <!-- End Log off -->
    <!-- Manage -->
    <li class="nav-item">
        <a class="btn btn-dark d-none d-lg-inline-block" href="/Identity/Account/Manage/Index">Manage</a>
    </li>
    <!-- End Manage -->
}
else
{
    <!-- Log in -->
    <li class="nav-item ms-lg-auto">
        <a class="btn btn-ghost-dark me-2 me-lg-0" href="/Identity/Account/Login?returnUrl=@HttpUtility.UrlEncode(Context.Request.Path)">Log in</a>
    </li>
    <!-- End Log in -->
    <!-- Sign up -->
    <li class="nav-item">
        <a class="btn btn-dark d-none d-lg-inline-block" href="/Identity/Account/Register?returnUrl=@HttpUtility.UrlEncode(Context.Request.Path)">Sign up</a>
    </li>
    <!-- End Sign up -->
}
