@using Microsoft.AspNetCore.Identity

@if (User.Identity!.IsAuthenticated)
{
    <!-- Log off -->
    <li class="nav-item ms-lg-auto">
        <form id="logoutForm">
            <a class="btn btn-ghost-dark me-2 me-lg-0" href="javascript:document.getElementById('logoutForm').submit()" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Log off</a>
        </form>
    </li>
    <!-- End Log off -->
    <!-- Manage -->
    <li class="nav-item">
        <a class="btn btn-dark d-none d-lg-inline-block" asp-area="Identity" asp-page="/Account/Manage/Index">Manage</a>
    </li>
    <!-- End Manage -->
}
else
{
    <!-- Log in -->
    <li class="nav-item ms-lg-auto">
        <a class="btn btn-ghost-dark me-2 me-lg-0" asp-area="Identity" asp-page="/Account/Login">Log in</a>
    </li>
    <!-- End Log in -->
    <!-- Sign up -->
    <li class="nav-item">
        <a class="btn btn-dark d-none d-lg-inline-block" asp-area="Identity" asp-page="/Account/Register">Sign up</a>
    </li>
    <!-- End Sign up -->
}
