@using Microsoft.AspNetCore.Identity

@if (User.Identity!.IsAuthenticated)
{
}
else
{
    <!-- Log in -->
    <li class="nav-item ms-lg-auto">
        <a class="btn btn-ghost-dark me-2 me-lg-0" href="/Identity/Account/Login">Log in</a>
    </li>
    <!-- End Log in -->
    <!-- Sign up -->
    <li class="nav-item">
        <a class="btn btn-dark d-none d-lg-inline-block" href="/Identity/Account/Register">Sign up</a>
    </li>
    <!-- End Sign up -->
}
