<nav class="js-mega-menu navbar-nav-wrap">

    <!-- Logo -->
    <a asp-area="" asp-page="/Index" class="navbar-brand" aria-label="CBD">
        <img src="/svg/codebuilddeploy_logo_padded.svg")" class="navbar-brand-logo" alt="CBD">
    </a>
    <!-- End Logo -->

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-default">
            <i class="bi-list"></i>
        </span>
        <span class="navbar-toggler-toggled">
            <i class="bi-x"></i>
        </span>
    </button>
    <!-- End Toggler -->

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav nav-pills">

            <!-- Software Delivery -->
            <li class="hs-has-mega-menu nav-item"
                data-hs-mega-menu-item-options='{
                  "desktop": {
                    "maxWidth": "40rem"
                  }
                }'>
                <a id="sdMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " aria-current="page" href="#" role="button" aria-expanded="false">Software Delivery</a>

                <!-- Mega Menu -->
                <div class="hs-mega-menu dropdown-menu" aria-labelledby="sdMegaMenu" style="min-width: 25rem;">
                    <!-- Main Content -->
                    <div class="row">
                        <div class="col-lg d-none d-lg-block">
                            <div class="d-flex align-items-start flex-column bg-light rounded-3 h-100 p-4">
                                <span class="fs-3 fw-bold d-block">Software Delivery</span>
                                <p class="text-body">Blogs on topics like Continuous Delivery, DevOps Cultures, Automation, Continuous Improvement, Software Engineering Practices and all things Software Delivery.</p>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="navbar-dropdown-menu-inner">
                                <a class="dropdown-item " asp-area="" asp-page="/Blog/ViewBlogEntry" asp-route-urlSlug="TrunkBasedDev"><i class="bi-chat-right-dots me-2"></i> Trunk based development <span class="badge text-primary">New</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Main Content -->
                </div>
                <!-- End Mega Menu -->
            </li>
            <!-- End Software Delivery -->

            <!-- Workstation Setup -->
            <li class="hs-has-mega-menu nav-item"
                data-hs-mega-menu-item-options='{
                  "desktop": {
                    "maxWidth": "40rem"
                  }
                }'>
                <a id="wsMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " aria-current="page" href="#" role="button" aria-expanded="false">Workstation Setup</a>

                <!-- Mega Menu -->
                <div class="hs-mega-menu dropdown-menu" aria-labelledby="wsMegaMenu" style="min-width: 25rem;">
                    <!-- Main Content -->
                    <div class="row">
                        <div class="col-lg d-none d-lg-block">
                            <div class="d-flex align-items-start flex-column bg-light rounded-3 h-100 p-4">
                                <span class="fs-3 fw-bold d-block">Workstation Setup</span>
                                <p class="text-body">Blogs on setting up my workstation.</p>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="navbar-dropdown-menu-inner">
                                <a class="dropdown-item " asp-area="" asp-page="/Blog/ViewBlogEntry" asp-route-urlSlug="WslAnsible">Ansible on WSL</a>
                                <a class="dropdown-item " asp-area="" asp-page="/Blog/ViewBlogEntry" asp-route-urlSlug="PowerShellRemoting">PowerShell Remoting</a>
                                <a class="dropdown-item " asp-area="" asp-page="/Blog/ViewBlogEntry" asp-route-urlSlug="PowerShellGrep">PowerShell Grep</a>
                                <a class="dropdown-item " asp-area="" asp-page="/Blog/ViewBlogEntry" asp-route-urlSlug="tools">Tools</a>
                                <a class="dropdown-item " asp-area="" asp-page="/Blog/ViewBlogEntry" asp-route-urlSlug="libraries">Libraries</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Main Content -->
                </div>
                <!-- End Mega Menu -->
            </li>
            <!-- End Workstation Setup -->

            <!-- About -->
            <li class="hs-has-mega-menu nav-item"
                data-hs-mega-menu-item-options='{
                  "desktop": {
                    "maxWidth": "40rem"
                  }
                }'>
                <a id="aboutMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " aria-current="page" href="#" role="button" aria-expanded="false">About</a>

                <!-- Mega Menu -->
                <div class="hs-mega-menu dropdown-menu" aria-labelledby="aboutMegaMenu" style="min-width: 25rem;">
                    <!-- Main Content -->
                    <div class="row">
                        <div class="col-lg d-none d-lg-block">
                            <div class="d-flex align-items-start flex-column bg-light rounded-3 h-100 p-4">
                                <span class="fs-3 fw-bold d-block">About</span>
                                <p class="text-body">Details about CodeBuildDeploy and it's founders'.</p>
                                <div class="mt-auto">
                                    <p class="mb-1"><a class="link link-dark link-pointer" asp-area="" asp-page="/Home/About">Learn more</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="navbar-dropdown-menu-inner">
                                <a class="dropdown-item " asp-area="" asp-page="/Home/Contact"><i class="bi-chat-right-dots me-2"></i> Contact Us</a>
                                <a class="dropdown-item " asp-area="" asp-page="/Home/AboutMark"><i class="bi-briefcase me-2"></i> Our founder</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Main Content -->
                </div>
                <!-- End Mega Menu -->
            </li>
            <!-- End About -->

            <!-- Account -->
            @{
                Html.RenderPartial("_LoginPartial");
            }
            <!-- End Account -->
        </ul>
    </div>
    <!-- End Collapse -->
</nav>