<div class="position-relative">
    <div class="d-flex bg-img-center" style="background-image: url(/img/sliderbgs/codebg.jpg);">
        <div class="container d-flex justify-content-end flex-column min-vh-lg-35 content-space-1 content-space-lg-b-3">
            <div class="w-lg-65">
                <span class="display-6 text-white" style="background-color:rgba(82,158,34,1)">CODE - BUILD - DEPLOY</span>
                <br />
                <span class="lead bg-dark text-white">@ViewData["Message"]</span>
            </div>
        </div>
    </div>
</div>
