@page
@model CodeBuildDeploy.Pages.Shared.NotFoundModel
@{
    Layout = "_LayoutBasic";
}

<h1 class="text-danger">404.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

