<div class="container pt-10 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <h3 class="h4 text-body fw-semibold">@Model.Title</h3>
            <ul>
                <li>NLog</li>
                <li>Newtonsoft Json</li>
                <li>FluentValidation</li>
                <li>Rx</li>
                <li>NUnit</li>
                <li>SpecFlow</li>
            </ul>
        </div>
    </div>
</div>
