@page
@model CodeBuildDeploy.Pages.Blog.ViewBlogEntryModel

@section styles {
}

<!-- Blog Posts -->
@{
    if (Model.Post is { }) await Html.RenderPartialAsync(Model.Post.Content);
}

<!-- Blog Post Author -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <!-- Tags -->
            <div class="mb-4">
                <ul class="u-list-inline mb-5">
                    @{
                        if (Model.Post == null || Model.Post.Tags.Count == 0)
                        {
                            <li class="list-inline-item mb-1">
                                <a class="u-tags-v1 brd-around brd-gray-dark-v5 brd-primary--hover color-black color-white--hover bg-primary--hover font-weight-600 font-size-12 g-rounded-50 py-1 px-1" href="javascript:void(0);">No Tags</a>
                            </li>
                        }
                        else
                        {
                            foreach (var tag in Model.Post.Tags)
                            {
                                <li class="list-inline-item mb-1">
                                    <a class="u-tags-v1 brd-around brd-gray-dark-v5 brd-primary--hover color-black color-white--hover bg-primary--hover font-weight-600 font-size-12 g-rounded-50 py-1 px-1" href="javascript:void(0);">@tag.Name</a>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
            <!-- End Tags -->
            <!-- Social Icons -->
            <div class="text-center">
                <h3 class="h6 color-black font-weight-600 text-uppercase mb-3">Share:</h3>
                <ul class="list-inline mb-6">
                    <li class="list-inline-item mx-1">
                        <a class="u-icon-v1 u-icon-slide-up--hover color-gray-dark-v4 color-facebook--hover" href="https://www.facebook.com/m4rkpollard">
                            <i class="bi-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mx-1">
                        <a class="u-icon-v1 u-icon-slide-up--hover color-gray-dark-v4 color-twitter--hover" href="https://twitter.com/m4rk5">
                            <i class="bi-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mx-1">
                        <a class="u-icon-v1 u-icon-slide-up--hover color-gray-dark-v4 color-linkedin--hover" href="https://www.linkedin.com/in/mark-pollard-351aa163">
                            <i class="bi-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Social Icons -->
            <!-- Author -->
            <div class="g-brd-top g-brd-gray-light-v3 pt-6 pb-10">
                <div class="row justify-content-between">
                    <div class="media">
                        <img class="d-flex w-100 h-100 rounded-circle mr-3" src="~/img/about/me-profile-sm.jpg" alt="Image Description">
                        <div class="media-body">
                            <h4 class="h5 color-black font-weight-600">Mark Pollard</h4>
                            <p class="color-gray-dark-v5 mb-4">I am a technical, delivery and engineering leader / Microsoft technologies technical architect, with a strong passion for software engineering. I am a firm believer in empowered teams with true DevOps cultures. I encourage responsibility over role, high quality and full stack engineers, showing ownership of the software and its behaviour, end to end, from requirements maturing through to its continual and successful running in Production.</p>
                            <a class="btn u-btn-outline-black brd-gray-light-v1 font-weight-600 font-size-12 text-uppercase py-1 px-2" href="#">All author posts</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Author -->
        </div>
    </div>
</div>
<!-- End Blog Post Author -->
<!-- End Blog Posts -->

@section scripts {
}