<div class="container pt-10 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <h3 class="h4">@Model.Title</h3>
            <p>
                Ansible is a powerful open source automation language. It’s also a complete deployment and orchestration tool. It provides
                drop-in replacements for many core capabilities in other automation solutions, whilst also seeking to solve IT challenges,
                such as CI/CD. Ansible is an agentless automation tool that by default manages machines over the SSH protocol or WinRM
                on Windows. Ansible can be installed on many Linux distros however it can't be installed directly on Windows. 
            </p>
            <p>
                I often find it useful to have Ansible installed on your development machine for simple commands like encrypting / decrypting 
                password in ansible-vault. This is where the Windows Subsystem for Linux comes in handy.
            </p>
            <div class="my-2">
                <h5>Installing and Configuring WSL and WSL Interop</h5>
                <p>
                    In a <a asp-area="" asp-page="/Blog/ViewBlogEntry" asp-route-urlSlug="WSLInterop">previous post</a> we documented the installing and configuration of WSL and the WSLInterop powersehll module.
                    Please follow <a asp-area="" asp-page="/Blog/ViewBlogEntry" asp-route-urlSlug="WSLInterop">these instructions</a> if you dont already have them installed:<a href="#"></a>
                </p>                
            </div>

            <div class="my-2">
                <h5>Installing Ansible on WSL 2 Ubuntu</h5>
                <p>
                    Launch Ubuntu and in the terminal run the following commands:
                </p>
                <pre><code class="language-bash">    sudo apt update
    sudo apt upgrade
    sudo apt install -y python3-pip
    python3 -m pip update pip
    sudo python3 -m pip install git+https://github.com/ansible/ansible.git@v2.17.0</code></pre>
            </div>

            <div class="my-2">
                <h5>Configuring WSL Interop</h5>
                <p>
                    Open your powershell profile
                </p>
                <pre><code class="language-batch">    notepad $profile</code></pre>
                <p>
                    Add the following lines
                </p>
                <pre><code class="language-powershell">    Import-WslCommand ansible-vault
    Import-WslCommand ansible</code></pre>
            </div>
        </div>
    </div>
</div>