<div class="container pt-10 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <h3 class="h4 color-black font-weight-600">@Model.Title</h3>
            <p>

            </p>
        </div>
    </div>
</div>