@page
@model AboutModel

<!-- Hero -->
<div class="container content-space-t-3 content-space-t-lg-4">
    <div class="w-lg-65 text-center mx-lg-auto mb-5 mb-sm-7 mb-lg-10">
        <h1 class="display-4">About</h1>
        <p class="lead">We cut through complexity, empowering engineering teams with knowledge of how to deliver software effectively.</p>
    </div>

    <div class="position-relative bg-img-center min-vh-35 min-vh-md-75" style="background-image: url(/img/about/code.jpg);">
        <div class="position-absolute bottom-0 start-0 start-md-auto end-0 text-center text-md-start p-4 mx-auto mx-md-0" style="max-width: 25rem;">
        </div>
    </div>
</div>
<!-- End Hero -->

<div class="container content-space-2 content-space-lg-3">
    <div class="row justify-content-lg-between">
        <h2>Work environment</h2>
        <p>Code build deploy is a blog for software delivery and engineering topics.</p>
    </div>
</div>
