@page
@model AboutMarkModel

<!-- AboutMark -->
<div class="container pt-10 pb-4">
    <div class="row">
        <!-- Image -->
        <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 mb-3">
            <img class="w-100" src="~/img/about/me.jpg" alt="Image Description">
        </div>
        <!-- End Image -->
        <!-- Body -->
        <div class="col-lg-8">
            <div class="row d-flex justify-content-between mb-1">
                <div class="col-9 mb-2">
                    <h4 class="h5 mb-1">Mark Pollard</h4>
                    <em class="d-block text-uppercase text-primary">Technical, Delivery and Engineering Leader and Technical Architect</em>
                </div>

                <!-- Social Icons -->
                <div class="col-3 mb-2">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a class="btn btn-soft-secondary btn-icon btn-sm rounded-circle" href="https://www.facebook.com/m4rkpollard">
                                <i class="bi-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-soft-secondary btn-icon btn-sm rounded-circle" href="https://www.linkedin.com/in/mark-pollard-351aa163">
                                <i class="bi-linkedin"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-soft-secondary btn-icon btn-sm rounded-circle" href="https://twitter.com/m4rk5">
                                <i class="bi-twitter-x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Social Icons -->
            </div>

            <!-- Info -->
            <div class="mb-5">
                <p>I am a technical, delivery and engineering leader / Microsoft technologies technical architect, with experiences working with many global corporations across numerous sectors and markets. For the past 18 years I have worked for a software consultancy <a href="http://www.bjss.com/" target="_blank"> (BJSS)</a> although the content and opinions of this site are my own. I graduated with a bachelor’s degree with honours in computer science from the Leeds Metropolitan University. I live in Bradford (UK) with my wife and three children.</p>
                <p>I am a firm believer in empowered teams with true DevOps cultures. I encourage responsibility over role, high quality and full stack engineers, showing ownership of the software and its behaviour, end to end, from requirements maturing through to its continual and successful running in Production.</p>
                <p>I put this site together originally as a reference for myself but I hope others find it useful.</p>
            </div>
            <!-- End Info -->

            <div class="row">
                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 mb-1">C#</h4>
                    <div class="progress rounded-0 mb-5" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>
                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 mb-1">.Net</h4>
                    <div class="progress rounded-0 mb-5" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>

                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 mb-1">Docker</h4>
                    <div class="progress rounded-0 mb-5" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>
                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 mb-1">Kubernetes</h4>
                    <div class="progress rounded-0 mb-5" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>

                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 mb-1">Azure</h4>
                    <div class="progress rounded-0 mb-5" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>
                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 mb-1">AWS</h4>
                    <div class="progress rounded-0 mb-5" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>

                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 mb-1">Javascript</h4>
                    <div class="progress rounded-0 mb-5" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>
                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 mb-1">Html+CSS</h4>
                    <div class="progress rounded-0 mb-5" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>

                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 mb-1">T-Sql</h4>
                    <div class="progress rounded-0 mb-5" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>
                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 mb-1">PL/Sql</h4>
                    <div class="progress rounded-0 mb-5" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>

                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 mb-1">ActiveMq</h4>
                    <div class="progress rounded-0 mb-5" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>
                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 mb-1">RabbitMq</h4>
                    <div class="progress rounded-0 mb-5" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>

                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 mb-1">PowerShell</h4>
                    <div class="progress rounded-0 mb-5" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>
                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 mb-1">Unix Shell</h4>
                    <div class="progress rounded-0 mb-5" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>

                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 mb-1">Terraform</h4>
                    <div class="progress rounded-0 mb-5" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>
                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 mb-1">Ansible</h4>
                    <div class="progress rounded-0 mb-5" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>

                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 mb-1">AzureDevOps</h4>
                    <div class="progress rounded-0 mb-5" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>
                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 mb-1">GitLab</h4>
                    <div class="progress rounded-0 mb-5" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>

                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 mb-1">New Relic</h4>
                    <div class="progress rounded-0 mb-5" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>
                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 mb-1">ELK</h4>
                    <div class="progress rounded-0 mb-5" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>

                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 mb-1">Agile</h4>
                    <div class="progress rounded-0 mb-5" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>
                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 mb-1">Continuous Delivery</h4>
                    <div class="progress rounded-0 mb-5" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>
            </div>
        </div>
        <!-- End Body -->
    </div>
</div>
<!-- End AboutMark -->
