@page
@model AboutModel

<!-- Figure -->
<section class="container g-pt-100 g-pb-40">
    <figure class="row">
        <!-- Figure Image -->
        <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 g-mb-30">
            <img class="w-100" src="~/img/about/code.png" alt="Code">
        </div>
        <!-- End Figure Image -->
        <!-- Figure Body -->
        <div class="col-lg-8">
            <div class="g-mb-70">
                <h4 class="h5 g-mb-5">Code Build Deploy</h4>
                <em class="d-block g-font-style-normal g-font-size-default text-uppercase g-color-primary">Your software delivery how to source</em>
            </div>

            <!-- Figure Info -->
            <div class="g-mb-70">
                <p>Code build deploy is a blog for software delivery and engineering topics.</p>
            </div>
            <!-- End Info -->
        </div>
        <!-- End Figure Body -->
    </figure>
</section>
<!-- End Figure -->
