@page
@model CodeBuildDeploy.Pages.Home.AboutModel

<!-- Figure -->
<section class="container g-pt-100 g-pb-40">
    <figure class="row">
        <!-- Figure Image -->
        <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 g-mb-30">
            <img class="w-100" src="~/img/about/me.jpg" alt="Image Description">
        </div>
        <!-- End Figure Image -->
        <!-- Figure Body -->
        <div class="col-lg-8">
            <div class="d-flex justify-content-between g-mb-10">
                <div class="g-mb-20">
                    <h4 class="h5 g-mb-5">Mark Pollard</h4>
                    <em class="d-block g-font-style-normal g-font-size-default text-uppercase g-color-primary">Technical Architect and Delivery / Engineering Leader</em>
                </div>

                <!-- Figure Social Icons -->
                <ul class="list-inline">
                    <li class="list-inline-item g-mx-2">
                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="https://www.facebook.com/m4rkpollard">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-facebook"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item g-mx-2">
                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="https://twitter.com/m4rk5">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-twitter"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item g-mx-2">
                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="https://www.linkedin.com/in/mark-pollard-351aa163">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-linkedin"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
                <!-- End Figure Social Icons -->
            </div>

            <!-- Figure Info -->
            <div class="g-mb-50">
                <p>I am a Microsoft technologies architect and delivery / engineering leader with experiences working with many global corporations predominantly in the the financial markets. For the past 18 years I have worked for a software consultancy <a href="http://www.bjss.com/" target="_blank"> (BJSS)</a> although the content and opinions of this site are my own. I graduated with a bachelor’s degree with honours in computer science from the Leeds Metropolitan University. I live in Bradford (UK) with my wife and three children.</p>
                <p>I am a firm believer in empowered teams with true DevOps cultures. I encourage responsibility over role, high quality and full stack engineers, showing ownership of the software and its behaviour, end to end, from requirements maturing through to its continual and successful running in Production.</p>
                <p>I put this site together originally as a reference for myself but I hope others find it useful.</p>
            </div>
            <!-- End Info -->

            <div class="row">
                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">C#</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">.Net</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>

                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">Javascript</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">Html+CSS</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>

                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">T-Sql</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">PL/Sql</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>

                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">ActiveMq</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">RabbitMq</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>

                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">PowerShell</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">Unix Shell</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>

                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">Ansible</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">Terraform</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>

                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">New Relic</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">ELK</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>

                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">Docker</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">Kubernetes</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>

                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">AWS</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">Azure</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>

                <div class="col-sm-6">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">Agile</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">Continuous Delivery</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>
            </div>
        </div>
        <!-- End Figure Body -->
    </figure>
</section>
<!-- End Figure -->
