@page
@model IndexModel

<!-- Page Content -->
<div class="overflow-hidden">
    <div class="container content-space-1 content-space-b-lg-3">

        <!-- Content Row -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gx-7">

            <!-- Zero Bugs Block -->
            <div class="col mb-7 mb-md-10">
                <a class="card card-ghost card-transition-zoom h-100" href="~/Blog/ViewBlogEntry?urlSlug=ZeroBugs">
                    <div class="card-pinned card-transition-zoom-item">
                        <img class="card-img" src="~/img/blog/ZeroBugs/card.png" alt="Zero Bugs">
                        <span class="badge bg-dark text-white card-pinned-top-end">New</span>
                    </div>

                    <div class="card-body">
                        <p class="card-text text-uppercase text-black-50 small">18 June 2024</p>
                        <h4>Zero Bugs</h4>
                        <p class="card-text">It is impossible for software engineers to continuously produce bug-free, production ready code. Bugs will always exist. This article is about how we effectively handle such issues, acheiving a state of zero bugs backlog.</p>
                    </div>

                    <div class="card-footer">
                        <span class="card-link">Read more</span>
                    </div>
                </a>
            </div>
            <!-- End Zero Bugs Block -->

            <!-- DevOpsCLI Block -->
            <div class="col mb-7 mb-md-10">
                <a class="card card-ghost card-transition-zoom h-100" asp-area="" asp-page="/Blog/ViewBlogEntry" asp-route-urlSlug="devops-cli-aks">
                    <div class="card-pinned card-transition-zoom-item">
                        <img class="card-img" src="~/img/blog/DevOpsCLI/card.png" alt="AKS CLI container">
                        <span class="badge bg-dark text-white card-pinned-top-end">New</span>
                    </div>

                    <div class="card-body">
                        <p class="card-text text-uppercase text-black-50 small">18 June 2024</p>
                        <h4>AKS CLI container</h4>
                        <p class="card-text">A container configured with all the CLI tools, scripts and extensions, a full stack DevOps cultured engineer needs for managing the AKS cluster instance.</p>
                    </div>

                    <div class="card-footer">
                        <span class="card-link">Read more</span>
                    </div>
                </a>
            </div>
            <!-- End DevOpsCLI Block -->

            <!-- MyShell Block -->
            <div class="col mb-7 mb-md-10">
                <a class="card card-ghost card-transition-zoom h-100" href="~/Blog/ViewBlogEntry?urlSlug=MyShell">
                    <div class="card-pinned card-transition-zoom-item">
                        <img class="card-img" src="~/img/blog/MyShell/card.png" alt="Oh MY Shell">
                        <span class="badge bg-dark text-white card-pinned-top-end">New</span>
                    </div>

                    <div class="card-body">
                        <p class="card-text text-uppercase text-black-50 small">10 June 2024</p>
                        <h4>Oh MY Shell</h4>
                        <p class="card-text">
                            Having fun customizing my terminal and making my prompt look awesome, with Oh my Posh 3 and Nerd fonts.
                        </p>
                    </div>

                    <div class="card-footer">
                        <span class="card-link">Read more</span>
                    </div>
                </a>
            </div>
            <!-- End MyShell Block -->

            <!-- TrunkBasedDev Block -->
            <div class="col mb-7 mb-md-10">
                <a class="card card-ghost card-transition-zoom h-100" href="~/Blog/ViewBlogEntry?urlSlug=TrunkBasedDev">
                    <div class="card-pinned card-transition-zoom-item">
                        <img class="card-img" src="~/img/blog/TrunkBasedDev/card.png" alt="Trunk Based Development">
                        <span class="badge bg-dark text-white card-pinned-top-end">Updated</span>
                    </div>

                    <div class="card-body">
                        <p class="card-text text-uppercase text-black-50 small">11 October 2021</p>
                        <h4>Trunk Based Development</h4>
                        <p class="card-text">
                            Trunk Based Development is a branching strategy that operates with no long-running branches. Commits are made directly on main and releases come from builds of main.
                        </p>
                    </div>

                    <div class="card-footer">
                        <span class="card-link">Read more</span>
                    </div>
                </a>
            </div>
            <!-- End TrunkBasedDev Block -->

            <!-- WSLInterop Block -->
            <div class="col mb-7 mb-md-10">
                <a class="card card-ghost card-transition-zoom h-100" href="~/Blog/ViewBlogEntry?urlSlug=WSLInterop">
                    <div class="card-pinned card-transition-zoom-item">
                        <img class="card-img" src="~/img/blog/WSLInterop/card.png" alt="WSL Interop">
                        <span class="badge bg-dark text-white card-pinned-top-end">Updated</span>
                    </div>

                    <div class="card-body">
                        <p class="card-text text-uppercase text-black-50 small">9 October 2019</p>
                        <h4>WSL Interop</h4>
                        <p class="card-text">Read how to seamlessly call Linux commands, such as grep, directly from Powershell on you Windows machine.</p>
                    </div>

                    <div class="card-footer">
                        <span class="card-link">Read more</span>
                    </div>
                </a>
            </div>
            <!-- End WSLInterop Block -->

            <!-- Tool Block -->
            <div class="col mb-7 mb-md-10">
                <a class="card card-ghost card-transition-zoom h-100" href="~/Blog/ViewBlogEntry?urlSlug=tools">
                    <div class="card-pinned card-transition-zoom-item">
                        <img class="card-img" src="~/img/blog/tools/card.png" alt="Tools">
                    </div>

                    <div class="card-body">
                        <p class="card-text text-uppercase text-black-50 small">31 March 2015</p>
                        <h4>Tools</h4>
                        <p class="card-text">
                            This section lists the tools I frequently use. Some are development tools
                            others utility tools making general day to day working easier.
                        </p>
                    </div>

                    <div class="card-footer">
                        <span class="card-link">Read more</span>
                    </div>
                </a>
            </div>
            <!-- End Tool Block -->
        
        </div>
        <!-- End Content Row -->

    </div>
</div>
<!-- End Page Content -->
