@page
@model IndexModel

<!-- Page Content -->
<div class="overflow-hidden">
    <div class="container content-space-1 content-space-b-lg-3">

        <!-- Content Row -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gx-7">
            <!-- TrunkBasedDev Block -->
            <div class="col mb-7 mb-md-10">
                <a class="card card-ghost card-transition-zoom h-100" href="~/Blog/ViewBlogEntry?urlSlug=TrunkBasedDev">
                    <div class="card-pinned card-transition-zoom-item">
                        <img class="card-img" src="~/img/blog/tbd.png" alt="Trunk Based Development">
                    </div>

                    <div class="card-body">
                        <p class="card-text text-uppercase text-black-50 small">11 October 2021</p>
                        <h4>Trunk Based Development</h4>
                        <p class="card-text">
                            Trunk Based Development is a branching strategy that operates with no long-running branches. Commits are made directly on main and releases come from builds of main.
                        </p>
                    </div>

                    <div class="card-footer">
                        <span class="card-link">Read more</span>
                    </div>
                </a>
            </div>
            <!-- End TrunkBasedDev Block -->

            <!-- Ansible WSL Block -->
            <div class="col mb-7 mb-md-10">
                <a class="card card-ghost card-transition-zoom h-100" href="~/Blog/ViewBlogEntry?urlSlug=WslAnsible">
                    <div class="card-pinned card-transition-zoom-item">
                        <img class="card-img" src="~/img/blog/automation.jpg" alt="WSL and Ansible">
                        <span class="badge bg-dark text-white card-pinned-top-end">Sponsored</span>
                    </div>

                    <div class="card-body">
                        <p class="card-text text-uppercase text-black-50 small">9 October 2019</p>
                        <h4>WSL and Ansible</h4>
                        <p class="card-text">Read how to setup Ansible on Windows Subsystem for Linux, including setting up for seamlessly calling from windows powershell.</p>
                    </div>

                    <div class="card-footer">
                        <span class="card-link">Read more</span>
                    </div>
                </a>
            </div>
            <!-- End Ansible WSL Block -->

            <!-- WSLInterop Block -->
            <div class="col mb-7 mb-md-10">
                <a class="card card-ghost card-transition-zoom h-100" href="~/Blog/ViewBlogEntry?urlSlug=WSLInterop">
                    <div class="card-pinned card-transition-zoom-item">
                        <img class="card-img" src="~/img/blog/wslinterop.png" alt="WSL Interop">
                    </div>

                    <div class="card-body">
                        <p class="card-text text-uppercase text-black-50 small">9 October 2019</p>
                        <h4>WSL Interop</h4>
                        <p class="card-text">Read how to seamlessly call Linux commands, such as grep, directly from Powershell on you Windows machine.</p>
                    </div>

                    <div class="card-footer">
                        <span class="card-link">Read more</span>
                    </div>
                </a>
            </div>
            <!-- End WSLInterop Block -->

            <!-- PowerShell Remoting Block -->
            <div class="col mb-7 mb-md-10">
                <a class="card card-ghost card-transition-zoom h-100" href="~/Blog/ViewBlogEntry?urlSlug=PowerShellRemoting">
                    <div class="card-pinned card-transition-zoom-item">
                        <img class="card-img" src="~/img/blog/psr.png" alt="PowerShell Remoting">
                    </div>

                    <div class="card-body">
                        <p class="card-text text-uppercase text-black-50 small">31 May 2015</p>
                        <h4>PowerShell Remoting</h4>
                        <p class="card-text">This section talks about how to enable and work with PowerShell remoting.</p>
                    </div>

                    <div class="card-footer">
                        <span class="card-link">Read more</span>
                    </div>
                </a>
            </div>
            <!-- End PowerShell Remoting Block -->

            <!-- Tool Block -->
            <div class="col mb-7 mb-md-10">
                <a class="card card-ghost card-transition-zoom h-100" href="~/Blog/ViewBlogEntry?urlSlug=tools">
                    <div class="card-pinned card-transition-zoom-item">
                        <img class="card-img" src="~/img/blog/tools.png" alt="Tools">
                    </div>

                    <div class="card-body">
                        <p class="card-text text-uppercase text-black-50 small">31 March 2015</p>
                        <h4>Tools</h4>
                        <p class="card-text">
                            This section lists the tools I frequently use. Some are development tools
                            others utility tools making general day to day working easier.
                        </p>
                    </div>

                    <div class="card-footer">
                        <span class="card-link">Read more</span>
                    </div>
                </a>
            </div>
            <!-- End Tool Block -->

            <!-- Libraries Block -->
            <div class="col mb-7 mb-md-10">
                <a class="card card-ghost card-transition-zoom h-100" href="~/Blog/ViewBlogEntry?urlSlug=libraries">
                    <div class="card-pinned card-transition-zoom-item">
                        <img class="card-img" src="~/img/blog/libraries.png" alt="Libraries">
                    </div>

                    <div class="card-body">
                        <p class="card-text text-uppercase text-black-50 small">31 March 2015</p>
                        <h4>Libraries</h4>
                        <p class="card-text">
                            This section lists libraries I often use. These range from logging frameworks to
                            testing tools used for testing / mocking etc.
                        </p>
                    </div>

                    <div class="card-footer">
                        <span class="card-link">Read more</span>
                    </div>
                </a>
            </div>
            <!-- End Libraries Block -->
        
        </div>
        <!-- End Content Row -->

    </div>
</div>
<!-- End Page Content -->
