<p>
    <ul>
        <li><a href="http://martinfowler.com/" target="_blank">Martin Fowler</a></li>
        <li><a href="http://www.hanselman.com/" target="_blank">Scott Hanselman</a></li>
    </ul>
</p>