<section class="container g-pt-100 g-pb-50">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <h3 class="h4 g-color-black g-font-weight-600">@Model.Title</h3>
            <div class="g-my-10">
                <pre><code class="language-bash">sudo apt-get install mysql-server</code></pre>
                Create a password when asked
                <pre><code class="language-bash">sudo nano /etc/mysql/mysql.conf.d/mysqld.cnf</code></pre>
                Modify bind-address to 0.0.0.0
                <pre><code class="language-bash">sudo service mysql start
mysql -u root -p
CREATE USER 'kodi' IDENTIFIED BY 'kodi';
GRANT ALL ON *.* TO 'kodi';
flush privileges;
\q</code></pre>
            </div>
        </div>
    </div>
</section>