<section class="container g-pt-100 g-pb-50">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <h3 class="h4 g-color-black g-font-weight-600">@Model.Title</h3>
            <p>
                Windows PowerShell remoting gives you complete control over your Windows system remotely similar to the Linux Shell Terminal with SSH.
                This is extreamly useful especial when combined with configuration management tools such as Ansible. By default PowerShell remoting is disabled
                and so it must be enabled and remote machines must be granted access before it can be used.
            </p>
            <h4>Enabling access</h4>
            <p>Using a PowerShell session as Administrator.</p>
            <ul>
                <li>Ensure the WinRM service is running
                <pre><code class="language-powershell">get-service winrm</code></pre></li>
                <li>Run the WinRM service and enable PowerShell remoting
                <pre><code class="language-powershell">Enable-PSRemoting –force</code></pre></li>
                <li>Enable users for access
                <pre><code class="language-batch">winrm s winrm/config/client '&#64;{TrustedHosts="RemoteComputer"}'</code></pre></li>
                <li>Enable for all remote machines
                <pre><code class="language-powershell">Set-Item WSMan:\localhost\Client\TrustedHosts *</code></pre></li>
                <li>Restarting the WinRM service
                <pre><code class="language-powershell">Restart-Service winrm -Force</code></pre></li>
                <li>Checking the status of the WinRM service
                <pre><code class="language-batch">winrm quickconfig</code></pre></li>
            </ul>

            <h4>Running commands</h4>

            <div class="g-my-10">
                The Invoke-Command cmdlet is used to run a command on a remote machine. The command looks as follows:
                <pre><code class="language-powershell">    Invoke-Command -ComputerName COMPUTER -ScriptBlock { COMMAND } -credential USERNAME</code></pre>
            </div>
        </div>
    </div>
</section>