@{
    ViewBag.Title = "PowerShell Remoting";
    ViewBag.Message = "This section talks about how to enable and work with powershell remoting.";
}

<p>
    Commands.
    How to.
    Shortcuts
</p>