<section class="container g-pt-100 g-pb-50">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <h3 class="h4 g-color-black g-font-weight-600">@Model.Title</h3>

            <pre><code class="language-bash">sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 379CE192D401AB61
echo "deb https://dl.bintray.com/tvheadend/deb vivid stable" | sudo tee -a /etc/apt/sources.list
sudo apt-get update
sudo apt-get install tvheadend</code></pre>

            <p>
                User = XX<br />
                Password = XXX<br />
                <br />
                To configure:<br />
                <ul>
                    <li>Create Network</li>
                    <li>Set Network in adapters and enable adapters</li>
                    <li>Map Services (Disable all services that you dont want)</li>
                    <li>Enable the West York Bouquet</li>
                    <li>Select settings on EPG grabber</li>
                    <li>Now go through Channels</li>
                </ul>

                Test: <a href="http://tvpc.ddns.net:9981/">http://tvpc.ddns.net:9981/</a><br />
            </p>
        </div>
    </div>
</section>

