<!-- Footer -->
<div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
    <div class="container">
        <div class="row">

            <!-- Footer Content - About -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                    <h2 class="u-heading-v2__title h6 text-uppercase mb-0">About</h2>
                </div>
                <p>Code Build deploy is a reference site on topics I have found useful, inspired by continuous delivery approaches</p>
                <!-- End About -->
            </div>
            <!-- End Footer Content - About -->

            <!-- Footer Content - Newsletter -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                    <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Monthly Newsletter</h2>
                </div>
                <p>Subscribe to our newsletter and stay up to date with the latest news from mark pollard web!</p>
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email Address">&nbsp;
                        <span>
                            <button class="btn btn-sm u-btn-white text-uppercase g-font-weight-600 g-font-size-12" type="button">Subscribe</button>
                        </span>
                    </div>
                </form>
            </div>
            <!-- End Footer Content - Newsletter -->

            <!-- Recent Blogs -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                    <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Recent Blog Entries</h2>
                </div>
                <article>
                    <h3 class="h6 g-mb-2">
                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="~/Blog/ViewBlogEntry?urlSlug=tools">My favourite software tools</a>
                    </h3>
                    <div class="small g-color-white-opacity-0_6">May 8, 2017</div>
                </article>

                <hr class="g-brd-white-opacity-0_1 g-my-10">

                <article>
                    <h3 class="h6 g-mb-2">
                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="~/Blog/ViewBlogEntry?urlSlug=libraries">libraries you may like</a>
                    </h3>
                    <div class="small g-color-white-opacity-0_6">May 8, 2017</div>
                </article>

                <hr class="g-brd-white-opacity-0_1 g-my-10">

                <article>
                    <h3 class="h6 g-mb-2">
                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="~/Blog/ViewBlogEntry?urlSlug=links">Useful links and resources</a>
                    </h3>
                    <div class="small g-color-white-opacity-0_6">May 8, 2017</div>
                </article>
            </div>
            <!-- End Recent Blogs -->

            <!-- Contact Us -->
            <div class="col-lg-3 col-md-6">
                <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                    <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Contact</h2>
                </div>
                @{
                    Html.RenderPartial("_Contact");
                }
            </div>
            <!-- End Contact Us -->
        </div>
    </div>
</div>
<!-- End Footer -->