<nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
    <div class="container">

        <!-- Responsive Toggle Button -->
        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-minus-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
            <span class="hamburger hamburger--slider">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Logo -->
        <a href="@Url.Page("Index")" class="navbar-brand d-flex">
            <img src="@Url.Content("~/img/codebuilddeploy_logo.jpg")" alt="Logo">
        </a>
        <!-- End Logo -->

        <!-- Navigation -->
        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
          <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
            
            <!-- Home -->
            <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                <a class="nav-link g-py-7 g-px-0" asp-area="" asp-page="/Index">Home</a>
            </li>
            <!-- End Home -->

            <!-- Blog -->
            <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                <a id="nav-link-blog" class="nav-link g-py-7 g-px-0" href="#" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-blog">Blog</a>

                <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu-blog" aria-labelledby="nav-link-blog">
                    <!-- Blog - Software Delivery -->
                    <li class="dropdown-item hs-has-sub-menu ">
                        <a id="nav-link--pages--blogms" class="nav-link" href="#" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--blogms">Software Delivery</a>

                        <!-- Submenu (level 2) -->
                        <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--blogms" aria-labelledby="nav-link--pages--blogms">
                            <li class="dropdown-item "><a class="nav-link" asp-area="" asp-page="/Blog/ViewBlogEntry" asp-route-urlSlug="TrunkBasedDev">Trunk based development</a></li>
                        </ul>
                    </li>

                    <!-- Blog - Workstation Setup -->
                    <li class="dropdown-item hs-has-sub-menu ">
                        <a id="nav-link--pages--blogps" class="nav-link" href="#" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--blogps">Workstation Setup</a>

                        <!-- Submenu (level 2) -->
                        <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--blogps" aria-labelledby="nav-link--pages--blogps">
                            <li class="dropdown-item "><a class="nav-link" asp-area="" asp-page="/Blog/ViewBlogEntry" asp-route-urlSlug="WslAnsible">Ansible on WSL</a></li>
                            <li class="dropdown-item "><a class="nav-link" asp-area="" asp-page="/Blog/ViewBlogEntry" asp-route-urlSlug="PowerShellRemoting">PowerShell Remoting</a></li>
                            <li class="dropdown-item "><a class="nav-link" asp-area="" asp-page="/Blog/ViewBlogEntry" asp-route-urlSlug="PowerShellGrep">PowerShell Grep</a></li>
                            <li class="dropdown-item "><a class="nav-link" asp-area="" asp-page="/Blog/ViewBlogEntry" asp-route-urlSlug="tools">Tools</a></li>
                            <li class="dropdown-item "><a class="nav-link" asp-area="" asp-page="/Blog/ViewBlogEntry" asp-route-urlSlug="libraries">Libraries</a></li>
                        </ul>
                    </li>
                    
                    <!-- Blog - Links -->
                    <li class="dropdown-item "><a class="nav-link" asp-area="" asp-page="/Blog/ViewBlogEntry" asp-route-urlSlug="links">Links</a></li>
                </ul>
            </li>
            <!-- End Blog -->

            <!-- Account -->
            <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                <a id="nav-link-account" class="nav-link g-py-7 g-px-0" href="#" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-account">Account</a>

                <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu-account" aria-labelledby="nav-link-account">
                    <!-- Pages - Login and Registration -->
                    @{
                        Html.RenderPartial("_LoginPartial");
                    }
                    <!-- End Login and Registration -->
                </ul>
            </li>
            <!-- End Account -->

            <!-- About -->
            <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                <a id="nav-link-pages" class="nav-link g-py-7 g-px-0" href="#" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-pages">About</a>

                <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu-pages" aria-labelledby="nav-link-pages">
                    <!-- About - About -->
                    <li class="dropdown-item "><a class="nav-link" asp-area="" asp-page="/Home/About">About CBD</a></li>
                    <li class="dropdown-item "><a class="nav-link" asp-area="" asp-page="/Home/Contact">Contact Us</a></li>

                        <!-- Pages - About - CBD Team -->
                    <li class="dropdown-item hs-has-sub-menu ">
                        <a id="nav-link--pages--aboutourteam" class="nav-link" href="#" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--aboutourteam">CBD Team</a>

                        <!-- Submenu (level 2) -->
                        <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2 " id="nav-submenu--pages--aboutourteam" aria-labelledby="nav-link--pages--aboutourteam">
                            <li class="dropdown-item "><a class="nav-link" asp-area="" asp-page="/Home/AboutMark">Mark</a></li>
                        </ul>
                    </li>
                    <!-- End About - About -->
                </ul>
            </li>
            <!-- End Pages -->
          </ul>
        </div>
    </div>
</nav>