<!--=== Slider ===-->
@{
    Html.RenderPartial("_Slider");
}
<!--=== End Slider ===-->

<!--=== Content Body Part ===-->
<div class="container content">
    @RenderBody()
</div><!--/container-->
<!-- End Content Body Part -->