<address class="g-bg-no-repeat g-font-size-12 mb-0" style="background-image: url(/img/maps/map2.png);">

    <!-- Location -->
    <div class="d-flex g-mb-20">
        <div class="g-mr-10">
            <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="fa fa-map-marker"></i>
            </span>
        </div>
        <p class="mb-0">29 Enfield Walk, Bradford, <br>West Yorkshire, United Kingdom BD6 3HY</p>
    </div>
    <!-- End Location -->

    <!-- Phone -->
    <div class="d-flex g-mb-20">
        <div class="g-mr-10">
            <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="fa fa-phone"></i>
            </span>
        </div>
        <p class="mb-0">(+44)7912359944</p>
    </div>
    <!-- End Phone -->

    <!-- Email and Website -->
    <div class="d-flex g-mb-20">
        <div class="g-mr-10">
            <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="fa fa-globe"></i>
            </span>
        </div>
        <p class="mb-0">
            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:mark.pollard@bjss.co.uk">mark.pollard@bjss.co.uk</a>
        </p>
    </div>
    <!-- End Email and Website -->
</address>