<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>
                    @DateTime.Now.Year Mark Pollard Web &copy; ALL Rights Reserved.
                    <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                </p>
            </div>
            <!-- Social Links -->
            <div class="col-md-6">
                <ul class="social-icons pull-right">
                    <li><a href="https://www.linkedin.com/profile/view?id=226646701" data-original-title="Linkedin" class="social_linkedin"></a></li>
                    <li><a href="https://www.facebook.com/m4rkpollard" data-original-title="Facebook" class="social_facebook"></a></li>
                    <li><a href="https://twitter.com/m4rk5" data-original-title="Twitter" class="social_twitter"></a></li>
                    <li><a href="https://plus.google.com/100391612500164447413/posts" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                    <li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
                    <li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li>
                    <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
                </ul>
            </div>
            <!-- End Social Links -->
        </div>
    </div>
</div><!--/copyright-->