<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>
                    &copy; @DateTime.Now.Year - Mark Pollard Web. ALL Rights Reserved.
                    <a target="_blank" href="https://twitter.com/htmlstream">Htmlstream</a> | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                </p>
            </div>
            <div class="col-md-6">
                <a href="@Url.Action("Index", "Home")">
                    <img class="pull-right" id="logo-footer" src="@Url.Content("~/img/logi/logo2-default.png")" alt="">
                </a>
            </div>
        </div>
    </div>
</div><!--/copyright-->