<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 md-margin-bottom-40">
                <!-- About -->
                <div class="headline"><h2>About</h2></div>
                <p class="margin-bottom-25 md-margin-bottom-40">This is all about me.</p>
                <!-- End About -->
                <!-- Monthly Newsletter -->
                <div class="headline"><h2>Monthly Newsletter</h2></div>
                <p>Subscribe to our newsletter and stay up to date with the latest news from mark pollard web!</p>
                <form class="footer-subsribe">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email Address">
                        <span class="input-group-btn">
                            <button class="btn-u" type="button">Subscribe</button>
                        </span>
                    </div>
                </form>
                <!-- End Monthly Newsletter -->
            </div><!--/col-md-4-->

            <div class="col-md-4 md-margin-bottom-40">
                <!-- Recent Blogs -->
                <div class="posts">
                    <div class="headline"><h2>Recent Blog Entries</h2></div>
                    <dl class="dl-horizontal">
                        <dt><a href="~/Home/Tools"><img src="~/img/blog/tools.jpg" alt=""></a></dt>
                        <dd>
                            <p><a href="~/Home/Tools">Here we talk about useful tools</a></p>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt><a href="~/Home/Libraries"><img src="~/img/blog/libraries.jpg" alt=""></a></dt>
                        <dd>
                            <p><a href="~/Home/Libraries">libraries you may like</a></p>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt><a href="~/Home/Links"><img src="~/img/blog/links.jpg" alt=""></a></dt>
                        <dd>
                            <p><a href="~/Home/Links">Useful links and resources</a></p>
                        </dd>
                    </dl>
                </div>
                <!-- End Recent Blogs -->
            </div><!--/col-md-4-->

            <div class="col-md-4 map-img">
                <!-- Contact Us -->
                <div class="headline"><h2>Contact</h2></div>
                @{
                    Html.RenderPartial("_Contact");
                }
                <!-- End Contact Us -->
            </div><!--/col-md-4-->
        </div>
    </div>
</div><!--/footer-->
