<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>@ViewBag.Title - Code-Build-Deploy</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/unify/style.css" />
    <link rel="stylesheet" href="~/Content/unify/headers/header-default.css" />
    <link rel="stylesheet" href="~/Content/unify/footers/footer-default.css" />
    <link rel="stylesheet" href="~/Content/unify/custom.css" />
 
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/Plugins/animate.css" />
    <link rel="stylesheet" href="~/Plugins/box-shadows.css" />
    <link rel="stylesheet" href="~/Plugins/line-icons/line-icons.css" />
    <link rel="stylesheet" href="~/Plugins/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/Plugins/parallax-slider/css/parallax-slider.css" />
    <link rel="stylesheet" href="~/Plugins/owl-carousel/owl.carousel.css" />

    <!-- CSS Theme (id should be style_color) -->
    <link rel="stylesheet" href="~/Content/unify/theme-colors/dark-blue.css" />

    @RenderSection("styles", required: false)

    <!-- Can this be moved to the bottom -->
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="wrapper">

        <div class="header">
            <!-- Topbar -->
            @{
                Html.RenderPartial("_Topbar");
            }
            <!-- End Topbar -->
            <!-- Navbar -->
            @{
                Html.RenderPartial("_Navbar");
            }
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->

        <!--=== Midbars Part ===-->
        @{
            Html.RenderPartial("_Midbars");
        }        
        <!-- End Midbars Part -->

        <!--=== Content Part ===-->
        @RenderBody()
        <!-- End Content Part -->
    
        <!--=== Footer Version 1 ===-->
        <div class="footer-default">
            <!--=== Footer ===-->
            @{
                Html.RenderPartial("_Footer");
            }
            <!--=== End Footer ===-->
            <!--=== Copyright ===-->
            @{
                Html.RenderPartial("_Copyright");
            }
            <!--=== End Copyright ===-->
        </div>
        <!--=== End Footer Version 1 ===-->

    </div><!--/wrapper-->

    <!-- JS Global Compulsory -->
    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="~/Plugins/back-to-top.js"></script>
    <script src="~/Plugins/smoothScroll.js"></script>
    <script src="~/Plugins/parallax-slider/js/jquery.cslider.js"></script>
    <script src="~/Scripts/unify/plugins/parallax-slider/parallax-slider.js"></script>
    <script src="~/Plugins/owl-carousel/owl.carousel.js"></script>
    <script src="~/Scripts/unify/plugins/owl-carousel/owl-carousel.js"></script>

    <!-- JS Page Level -->
    <script src="~/Scripts/unify/app.js"></script>
    <script type="text/javascript" src="~/Scripts/unify/pages/index.js"></script>
    
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            OwlCarousel.initOwlCarousel();
            ParallaxSlider.initParallaxSlider();
        });
    </script>
    <!--[if lt IE 9]>
        <script src="~/Scripts/respond.min.js"></script>
        <script src="~/Plugins/html5shiv.js"></script>
    <![endif]-->

</body>
</html>
