<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>@ViewBag.Title.</i></h2>
            <p><i>@ViewBag.Message</i></p>
            <div class="da-img"><img class="img-responsive" src="~/img/slider/connecting-people.png" alt=""></div>
        </div>
        <div class="da-slide">
            <h2><i>Another</i> <br /> <i>Just to show</i></h2>
            <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
            <div class="da-img"><img src="~/img/html5andcss3.png" alt="image01" /></div>
        </div>
        <div class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </div>
    </div>
</div><!--/slider-->
