<div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
        <img src="@Url.Content("~/img/logo1-default.jpg")" alt="Logo">
    </a>
    <!-- End Logo -->
    <!-- Topbar -->
    <div class="topbar">
        <ul class="loginbar pull-right">
            <li class="hoverSelector">
                <i class="fa fa-globe"></i>
                <a>Languages</a>
                <ul class="languages hoverSelectorBlock">
                    <li class="active">
                        <a href="javascript:void(0);">English <i class="fa fa-check"></i></a>
                    </li>
                </ul>
            </li>
            <li class="topbar-devider"></li>
            <li><a href="javascript:void(0);">Help</a></li>
            <li class="topbar-devider"></li>
            @{
                Html.RenderPartial("_LoginPartial");
            }
        </ul>
    </div>
    <!-- End Topbar -->
    <!-- Toggle get grouped for better mobile display -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars"></span>
    </button>
    <!-- End Toggle -->
</div><!--/end container-->